<main role="main">
        <img src="{{prem_article.imageGR}}" alt="" class="dead_and">
        <section>
            <div class="dead_and_txt marge">
                <h1>{{prem_article.nom}} <span>{{prem_article.span}}</span></h1>
            </div>
            <article class="categorie1 marge">
            <a id="contenu" tabindex="-1"></a>
                <div class="para1">
                    <h1>{{prem_article.categorie1h1}}</h1>
                    <p>
                        {{prem_article.categorie1txt}}
                    </p>
                </div>
                <div class="imgNUM1">
                    <img src="{{prem_article.img}}" alt="Vue de &#34;derriere la camera&#34; "
                        width="400">
                </div>
            </article>
            <article class="categorie2 marge">
                <div class="imgNUM1">
                    <img src="{{deux_article.img}}" alt="Photo avec la preview des matériaux"
                        width="400">
                </div>
                <div class="para1">
                    <h3>{{deux_article.categorie2h3}}</h3>
                    <p>
                        {{deux_article.categorie2txt}}
                    </p>
                </div>
            </article>
            <article class="categorie3 marge">
                <div class="para1">
                    <h3>{{trois_article.categorie3h3}}</h3>
                    <p>
                        {{trois_article.categorie3txt}}
                    </p>
                </div>
                <div class="imgNUM1">
                    <img src="{{trois_article.img}}" alt="test" width="400">
                </div>
            </article>
        </section>
    </main>